* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.encabezado {
    background-image: url(/images/fondo_body.jpg);
}

.navbar-brand {
    width: 250px;
    height: fit-content;
}

.navbar-collapse .navbar-nav .nav-link {
    font-family: 'Share Tech', sans-serif;
    color: #81e6e6;
    font-size: 35px;
    gap: 20px;
    background-color: rgba(0, 69, 90, 0.034);
    
}

.nav-item:hover {
    transform: scale(1.2);
}

body {
    background-size: cover;
    font-family: 'Share Tech', sans-serif;
    color: rgba(255, 255, 255, 0.5);
    background: url(/images/fondo_main_2.jpg) repeat fixed;
}

footer {
    background-image: url(../images/fondo_body.jpg);
}

footer .foot {
    color: #81e6e6;
}

footer ul {
    list-style: none;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    color: rgba(172, 224, 185, 0.829);
    font-size: 30px;
    margin-top: 25px;
}

.copyright {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.buscador{
    width: 100%;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.busc{
    text-align: center;
    width: 90%;
    
    
}


.inputSearch {
    font-size: 25px;
    align-content: center;
    margin-left: 30px;
    margin-top: 15px;
    padding: 1px;
    display: flex;
    background-color: whitesmoke;
    width: 100%;
}

.nav-link {
    font-size: 45px;
    color: aliceblue;
    font-family: 'Share Tech', sans-serif;

    align-content: space-between;
}

.titulo {
    text-align: center;
    font-size: 50px;
}

/* .navegacion{
    color: whitesmoke;
}

header a{
    text-decoration: none;
}

header a label{
    color: #0969da;
    font-family: 'Poppins',sans-serif;
    position: relative;
    left: 2.3em;
    top:-1.3em;
    font-weight: 700;
    font-size: 1.1em;
}

header a i{
    font-size: 2.7em;
    color: #000c;
} */

.section {
    display: flex;
    flex-wrap: wrap;
    /* width: auto; */
    /* min-width: 50px; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-wrap: wrap; */
}

.row{
    align-content: stretch;
    flex-flow: wrap;
  /*   margin-top: 50px;
    margin-left: 50px;
    margin-right: 20px; */

}

/* cards */
.card {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: #fff;
    font-family: 'Share Tech', sans-serif;
    text-align: center;
    align-items: center;
    width: 300px;
    
}

.card img{
    display: flex;
    width: 150px;
    
}
.card h2{
    color: #000;

}
.card h3 {
    margin: 0.5em 0em;
    color: #000;
}

.card h4 {
    font-size: 25px;
    margin: 0.5em 0em;
    color: #888;
    font-weight: normal;
    display: flex;
    flex-wrap: wrap;
}

.button {
    width: auto;
    border: none;
    padding: 0.7em;
    background-color: #2719c9;
    background-color: #000;
    color: #fff;
    font-family: 'Share Tech', sans-serif;
    
    margin-top: 0px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 1.25px 1.25px 10px rgba(0, 0, 0, 0.5);
}

.info {
    font-family: 'Share Tech', sans-serif;
}