/* body{
    background-color: beige;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}

button.enter{
    background-color: aqua !important; 
    color: blueviolet;
}

.foco_imput{
    border-color: burlywood;
    background-color: rgb(133, 96, 59);
} */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body {
    background-color: whitesmoke;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}
 
.button-delete {
    background-color: darkred !important;
    color: white !important;
}

.button-grey {
    background-color: slategray !important;
    color: white !important;
} */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

html {
    min-height: 100%;
    background-color: rgb(155, 228, 224);
}

.center {
    text-align: center;
}

h1 {
    font-weight: 400;
    color: whitesmoke;
}

label {
    font-weight: 400;
    color: rgb(247, 238, 238);
}

.div-cotizador {
    background-color: rgb(73, 100, 83);
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border-color: whitesmoke;
    box-shadow: 26px 28px 15px -8px rgba(204, 147, 147, 0.15);
    border-radius: 0.7rem;
}

select,
input {
    min-width: 50% !important;
    width: 70% !important;
}

.separador {
    margin: 20px;
}

.importe {
    color: rgb(253, 253, 253);
    font-size: x-large;
    font-weight: 700;
}

.guardar {
    margin-left: 20px;
    font-size: xx-large;
    cursor: pointer;
}

.ocultar {
    display: none;
}

button:hover {
    color: whitesmoke !important;
    background-color: rgb(65, 228, 193) !important;
}

button:active {
    background-color: black !important;
} */


/* ESTILOS PARA JAVA */
.inputSearch {
    width: 100%;
    height: 50px;
    line-height: 55px;
    border: 3px solid transparent;
    border-bottom: solid 1px #040430;
    outline: none;
    background-color: #FFF;
    color: black;
    transition: 0.3s ease;
}





/* //--------------------PROYECTO FINAL--------------------// */


* {
    margin: 0;
    padding: 0;
}

.encabezado {
    /* background-image: url(../tankyrey/imagenes/img_html/fondo_body.jpg); */
    background-color: black;
    margin-bottom: 25px;
}

.logo_head {
    width: 250px;
    height: 258px;
}

.navbar-collapse .navbar-nav .nav-link {
    font-family: 'Share Tech', sans-serif;
    color:rgb(129, 230, 230);
    font-size: 35px;
    gap: 20px;
    background-color: rgba(0, 69, 90, 0.034);
}

.navbar-brand {
    width: 250px;
    height: fit-content;
}

.body {
    background-size: cover;
    font-family: 'Share Tech', sans-serif;
    color: rgba(255, 255, 255, 0.5);
    background: url(../tankyrey/imagenes/img_html/fondo_main_2.jpg) repeat fixed;
    width: 100%;
    height: 100%;
}

.navbar-brand {
    width: 250px;
    height: fit-content;
}

.navbar-collapse .navbar-nav .nav-link {
    font-family: 'Share Tech', sans-serif;
    color: rgb(129, 230, 230);
    font-size: 35px;
    gap: 20px;
    background-color: rgba(0, 69, 90, 0.034);
}

.nav-item:hover {
    transform: scale(1.1);
}


footer {
    background-image: url(./imagenes/fondo-header.png);
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    color: rgba(172, 224, 185, 0.829);
    font-size: 25px
}

.copyright {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}